body {
    background-color: black;

    .albNumber {
        padding: 0;
        margin: 0;
        font-size: 4em;
        font-weight: bold;
        color: white;
        filter: drop-shadow(3px 3px 1px black);
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: black;

    }
}